[{:description
  "We shall contemplate truth by testing reality, via equality",
  :tests ["(= __ true)"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-0",
  :id 196}
 {:description
  "To understand reality, we must compare our expectations against reality",
  :tests ["(= __ (+ 1 1))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-1",
  :id 197}
 {:description "You can test equality of many things",
  :tests ["(= (+ 3 4) 7 (+ 2 __))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-2",
  :id 198}
 {:description "But you may not string yourself along",
  :tests ["(= __ (= 2 \"2\"))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-3",
  :id 199}
 {:description "Something is not equal to nothing",
  :tests ["(= __ (not (= 1 nil)))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-4",
  :id 200}
 {:description "Strings, and keywords, and symbols: oh my!",
  :tests ["(= __ (= \"foo\" :foo (quote foo)))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-5",
  :id 201}
 {:description "Make a keyword with your keyboard",
  :tests ["(= :foo (keyword __))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-6",
  :id 202}
 {:description "Symbolism is all around us",
  :tests ["(= (quote foo) (symbol __))"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-7",
  :id 203}
 {:description "When things cannot be equal, they must be different",
  :tests ["(not= :fill-in-the-blank __)"],
  :difficulty "Basic",
  :tags ["equality"],
  :title "equality-8",
  :id 204}
 {:description "Lists can be expressed by function or a quoted form",
  :tests ["(= (quote (__)) (list 1 2 3 4 5))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-0",
  :id 205}
 {:description
  "They are Clojure seqs (sequences), so they allow access to the first",
  :tests ["(= __ (first (quote (1 2 3 4 5))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-1",
  :id 206}
 {:description "As well as the rest",
  :tests ["(= __ (rest (quote (1 2 3 4 5))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-2",
  :id 207}
 {:description "Count your blessings",
  :tests ["(= __ (count (quote (dracula dooku chocula))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-3",
  :id 208}
 {:description "Before they are gone",
  :tests ["(= __ (count (quote ())))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-4",
  :id 209}
 {:description "The rest, when nothing is left, is empty",
  :tests ["(= __ (rest (quote (100))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-5",
  :id 210}
 {:description
  "Construction by adding an element to the front is easy",
  :tests ["(= __ (cons :a (quote (:b :c :d :e))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-6",
  :id 211}
 {:description "Conjoining an element to a list is strikingly similar",
  :tests ["(= __ (conj (quote (:b :c :d :e)) :a))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-7",
  :id 212}
 {:description
  "You can use a list like a stack to get the first element",
  :tests ["(= __ (peek (quote (:a :b :c :d :e))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-8",
  :id 213}
 {:description "Or the others",
  :tests ["(= __ (pop (quote (:a :b :c :d :e))))"],
  :difficulty "Basic",
  :tags ["lists"],
  :title "lists-9",
  :id 214}
 {:description
  "You can use vectors in clojure as array-like structures",
  :tests ["(= __ (count [42]))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-0",
  :id 215}
 {:description "You can create a vector from a list",
  :tests ["(= __ (vec (quote (1))))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-1",
  :id 216}
 {:description "Or from some elements",
  :tests ["(= __ (vector nil nil))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-2",
  :id 217}
 {:description
  "But you can populate it with any number of elements at once",
  :tests ["(= [1 __] (vec (quote (1 2))))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-3",
  :id 218}
 {:description "Conjoining to a vector is different than to a list",
  :tests ["(= __ (conj [111 222] 333))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-4",
  :id 219}
 {:description "You can get the first element of a vector like so",
  :tests ["(= __ (first [:peanut :butter :and :jelly]))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-5",
  :id 220}
 {:description "And the last in a similar fashion",
  :tests ["(= __ (last [:peanut :butter :and :jelly]))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-6",
  :id 221}
 {:description "Or any index if you wish",
  :tests ["(= __ (nth [:peanut :butter :and :jelly] 3))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-7",
  :id 222}
 {:description "You can also slice a vector",
  :tests ["(= __ (subvec [:peanut :butter :and :jelly] 1 3))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-8",
  :id 223}
 {:description "Equality with collections is in terms of values",
  :tests ["(= (list 1 2 3) (vector 1 2 __))"],
  :difficulty "Basic",
  :tags ["vectors"],
  :title "vectors-9",
  :id 224}
 {:description "You can create a set by converting another collection",
  :tests ["(= #{3} (set __))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-0",
  :id 225}
 {:description "Counting them is like counting other collections",
  :tests ["(= __ (count #{1 3 2}))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-1",
  :id 226}
 {:description "Remember that a set is a *mathematical* set",
  :tests ["(= __ (set (quote (1 1 2 2 3 3 4 4 5 5))))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-2",
  :id 227}
 {:description "You can ask clojure for the union of two sets",
  :tests ["(= __ (clojoure.set/union #{1 4 3 2} #{3 2 5}))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-3",
  :id 228}
 {:description "And also the intersection",
  :tests ["(= __ (clojure.set/intersection #{1 4 3 2} #{3 2 5}))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-4",
  :id 229}
 {:description "But don't forget about the difference",
  :tests ["(= __ (clojure.set/difference #{1 4 3 2 5} #{3 2 5}))"],
  :difficulty "Basic",
  :tags ["sets"],
  :title "sets-5",
  :id 230}
 {:description "Don't get lost when creating a map",
  :tests ["(= {:a 1, :b 2} (hash-map :a 1 __))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-0",
  :id 231}
 {:description "A value must be supplied for each key",
  :tests ["(= {:a 1} (hash-map :a __))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-1",
  :id 232}
 {:description "The size is the number of entries",
  :tests ["(= __ (count {:a 1, :b 2}))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-2",
  :id 233}
 {:description "You can look up the value for a given key",
  :tests ["(= __ (get {:a 1, :b 2} :b))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-3",
  :id 234}
 {:description "Maps can be used as functions to do lookups",
  :tests ["(= __ ({:a 1, :b 2} :a))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-4",
  :id 235}
 {:description "And so can keywords",
  :tests ["(= __ (:a {:a 1, :b 2}))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-5",
  :id 236}
 {:description "But map keys need not be keywords",
  :tests
  ["(= __ ({2006 \"Torino\", 2010 \"Vancouver\", 2014 \"Sochi\"} 2010))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-6",
  :id 237}
 {:description "You may not be able to find an entry for a key",
  :tests ["(= __ (get {:a 1, :b 2} :c))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-7",
  :id 238}
 {:description "But you can provide your own default",
  :tests ["(= __ (get {:a 1, :b 2} :c :key-not-found))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-8",
  :id 239}
 {:description "You can find out if a key is present",
  :tests ["(= __ (contains? {:a nil, :b nil} :b))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-9",
  :id 240}
 {:description "Or if it is missing",
  :tests ["(= __ (contains? {:a nil, :b nil} :c))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-10",
  :id 241}
 {:description
  "Maps are immutable, but you can create a new and improved version",
  :tests
  ["(= {1 \"January\", 2 __} (assoc {1 \"January\"} 2 \"February\"))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-11",
  :id 242}
 {:description
  "You can also create a new version with an entry removed",
  :tests ["(= __ (dissoc {1 \"January\", 2 \"February\"} 2))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-12",
  :id 243}
 {:description
  "Often you will need to get the keys, but the order is undependable",
  :tests
  ["(= (list __ )\n       (sort (keys {2010 \"Vancouver\" 2014 \"Sochi\" 2006 \"Torino\"})))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-13",
  :id 244}
 {:description "You can get the values in a similar way",
  :tests
  ["(= (list __)\n       (sort (vals {2006 \"Torino\" 2010 \"Vancouver\" 2014 \"Sochi\"})))"],
  :difficulty "Basic",
  :tags ["maps"],
  :title "maps-14",
  :id 245}
 {:description
  "Calling a function is like giving it a hug with parentheses",
  :tests ["(let [square (fn [n] (* n n))]\n      (= __ (square 9)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-0",
  :id 246}
 {:description "Functions are usually defined before they are used",
  :tests
  ["(let [multiply-by-ten (fn [n] (* 10 n))]\n      (= __ (multiply-by-ten 2)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-1",
  :id 247}
 {:description "But they can also be defined inline",
  :tests ["(= __ ((fn [n] (* 5 n)) 2))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-2",
  :id 248}
 {:description "Or using an even shorter syntax",
  :tests ["(= __ (#(* 15 %) 4))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-3",
  :id 249}
 {:description "Even anonymous functions may take multiple arguments",
  :tests ["(= __ (#(+ %1 %2 %3) 4 5 6))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-4",
  :id 250}
 {:description "Arguments can also be skipped",
  :tests ["(= __ (#(* 15 %2) 1 2))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-5",
  :id 251}
 {:description "One function can beget another",
  :tests ["(= 9 (((fn [] __)) 4 5))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-6",
  :id 252}
 {:description "Functions can also take other functions as input",
  :tests ["(= 20 ((fn [f] (f 4 5))\n           __))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-7",
  :id 253}
 {:description "Higher-order functions take function arguments",
  :tests ["(= 25 (__\n           (fn [n] (* n n))))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-8",
  :id 254}
 {:description
  "But they are often better written using the names of functions",
  :tests ["(= 25 (__ square))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-9",
  :id 255}
 {:description "You will face many decisions",
  :tests
  ["(= __ (if (false? (= 4 5))\n             :a\n             :b))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-0",
  :id 256}
 {:description "Some of them leave you no alternative",
  :tests ["(= __ (if (> 4 3)\n             []))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-1",
  :id 257}
 {:description "And in such a situation you may have nothing",
  :tests ["(= __ (if (nil? 0)\n             [:a :b :c]))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-2",
  :id 258}
 {:description "In others your alternative may be interesting",
  :tests
  ["(= :glory (if (not (empty? ()))\n                :doom\n                __))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-3",
  :id 259}
 {:description "You may have a multitude of possible paths",
  :tests
  ["(let [x 5]\n      (= :your-road (cond (= x __) :road-not-taken\n                          (= x __) :another-road-not-taken\n                          :else __)))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-4",
  :id 260}
 {:description "Or your fate may be sealed",
  :tests
  ["(= __ (if-not (zero? __)\n             'doom\n             'doom))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-5",
  :id 261}
 {:description "In case of emergency, sound the alarms",
  :tests
  ["(let [explain-defcon-level (fn [exercise-term]\n                                 (case exercise-term\n                                   :fade-out          :you-and-what-army\n                                   :double-take       :call-me-when-its-important\n                                   :round-house       :o-rly\n                                   :fast-pace         :thats-pretty-bad\n                                   :cocked-pistol     :sirens\n                                   :say-what?))]\n      (= :sirens\n         (explain-defcon-level __)))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-6",
  :id 262}
 {:description "But admit it when you don't know what to do",
  :tests
  ["(let [explain-defcon-level (fn [exercise-term]\n                                 (case exercise-term\n                                   :fade-out          :you-and-what-army\n                                   :double-take       :call-me-when-its-important\n                                   :round-house       :o-rly\n                                   :fast-pace         :thats-pretty-bad\n                                   :cocked-pistol     :sirens\n                                   :say-what?))]\n      (= __\n         (explain-defcon-level :yo-mama)))"],
  :difficulty "Basic",
  :tags ["conditionals"],
  :title "conditionals-7",
  :id 263}
 {:description
  "To split a collection you can use the partition function",
  :tests ["(= '((0 1) (2 3)) (__ 2 (range 4)))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-0",
  :id 264}
 {:description
  "But watch out if there are not enough elements to form n sequences",
  :tests ["(= (quote (__)) (partition 3 [:a :b :c :d :e]))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-1",
  :id 265}
 {:description
  "You can use partition-all to also get partitions with less than n elements",
  :tests ["(= __ (partition-all 3 (range 5)))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-2",
  :id 266}
 {:description
  "If you need to, you can start each sequence with an offset",
  :tests
  ["(= '((0 1 2) (5 6 7) (10 11 12)) (partition 3 __ (range 13)))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-3",
  :id 267}
 {:description
  "Consider padding the last sequence with some default values..",
  :tests
  ["(= '((0 1 2) (3 4 5) (6 :hello)) (partition 3 3 [__] (range 7)))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-4",
  :id 268}
 {:description
  ".. but notice that they will only pad up to given sequence length",
  :tests
  ["(= '( (0 1 2) (3 4 5) __) (partition 3 3 [:this :are \"my\" \"words\"] (range 7)))"],
  :difficulty "Basic",
  :tags ["partition"],
  :title "partition-5",
  :id 269}
 {:description "The map function relates a sequence to another",
  :tests ["(= (quote (__)) (map (fn [x] (* 4 x)) [1 2 3]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-0",
  :id 270}
 {:description "You may create that mapping",
  :tests ["(= (quote (1 4 9 16 25)) (map (fn [x] __) [1 2 3 4 5]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-1",
  :id 271}
 {:description "Or use the names of existing functions",
  :tests ["(= __ (map nil? [:a :b nil :c :d]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-2",
  :id 272}
 {:description "A filter can be strong",
  :tests
  ["(= __ (filter (fn [x] false) (quote (:anything :goes :here))))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-3",
  :id 273}
 {:description "Or very weak",
  :tests
  ["(= __ (filter (fn [x] true) (quote (:anything :goes :here))))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-4",
  :id 274}
 {:description "Or somewhere in between",
  :tests
  ["(= [10 20 30] (filter (fn [x] __) [10 20 30 40 50 60 70 80]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-5",
  :id 275}
 {:description "Maps and filters may be combined",
  :tests
  ["(= [10 20 30] (map (fn [x] __) (filter (fn [x] __) [1 2 3 4 5 6 7 8])))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-6",
  :id 276}
 {:description "Reducing can increase the result",
  :tests ["(= __ (reduce (fn [a b] (* a b)) [1 2 3 4]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-7",
  :id 277}
 {:description "You can start somewhere else",
  :tests ["(= 2400 (reduce (fn [a b] (* a b)) __ [1 2 3 4]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-8",
  :id 278}
 {:description "Numbers are not the only things one can reduce",
  :tests
  ["(= \"longest\" (reduce (fn [a b]\n                           (if (< __) b a))\n                         [\"which\" \"is\" \"the\" \"longest\" \"word\"]))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-9",
  :id 279}
 {:description
  "Some functions can be used in different ways - with no arguments",
  :tests
  ["(let [hello (fn ([] \"Hello World!\"))]\n      (= __ (hello)))"],
  :difficulty "Basic",
  :tags ["polymorphism"],
  :title "polymorphism-0",
  :id 280}
 {:description "With one argument",
  :tests
  ["(let [hello (fn\n                  ([] \"Hello World!\")\n                  ([a] (str \"Hello, you silly \" a \".\")))]\n      (= __ (hello \"world\")))"],
  :difficulty "Basic",
  :tags ["polymorphism"],
  :title "polymorphism-1",
  :id 281}
 {:description "Or with many arguments",
  :tests
  ["(let [hello (fn\n                  ([] \"Hello World!\")\n                  ([a] (str \"Hello, you silly \" a \".\"))\n                  ([a & more] (str \"Hello to this group: \"\n                                   (apply str\n                                          (interpose \", \" (concat (list a) more)))\n                                   \"!\")))]\n      (= __\n         (hello \"Peter\" \"Paul\" \"Mary\")))"],
  :difficulty "Basic",
  :tags ["polymorphism"],
  :title "polymorphism-2",
  :id 282}
 {:description "There are many ways to generate a sequence",
  :tests ["(= __ (range 1 5))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-0",
  :id 283}
 {:description "The range starts at the beginning by default",
  :tests ["(= __ (range 5))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-1",
  :id 284}
 {:description "Only take what you need when the sequence is large",
  :tests ["(= [0 1 2 3 4 5 6 7 8 9]\n       (take __ (range 100)))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-2",
  :id 285}
 {:description "Or limit results by dropping what you don't need",
  :tests ["(= [95 96 97 98 99]\n       (drop __ (range 100)))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-3",
  :id 286}
 {:description "Iteration provides an infinite lazy sequence",
  :tests ["(= __ (take 20 (iterate inc 0)))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-4",
  :id 287}
 {:description "Repetition is key",
  :tests
  ["(= [:a :a :a :a :a :a :a :a :a :a ]\n       (repeat 10 __))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-5",
  :id 288}
 {:description "Iteration can be used for repetition",
  :tests
  ["(= (repeat 100 :foo)\n       (take 100 (iterate __ :foo)))"],
  :difficulty "Basic",
  :tags ["sequences"],
  :title "sequences-6",
  :id 289}
 {:description
  "Sequence comprehensions can bind each element in turn to a symbol",
  :tests ["(= __ (for [index (range 6)] index))"],
  :difficulty "Basic",
  :tags ["comprehensions"],
  :title "comprehensions-0",
  :id 290}
 {:description "They can easily emulate mapping",
  :tests
  ["(= (quote (0 1 4 9 16 25)) (map (fn [index] (* index index)) (range 6)) (for [index (range 6)] __))"],
  :difficulty "Basic",
  :tags ["comprehensions"],
  :title "comprehensions-1",
  :id 291}
 {:description "And also filtering",
  :tests
  ["(= (quote (1 3 5 7 9)) (filter odd? (range 10)) (for [index __ :when (odd? index)] index))"],
  :difficulty "Basic",
  :tags ["comprehensions"],
  :title "comprehensions-2",
  :id 292}
 {:description "Combinations of these transformations is trivial",
  :tests
  ["(= (quote (1 9 25 49 81)) (map (fn [index] (* index index)) (filter odd? (range 10))) (for [index (range 10) :when __] __))"],
  :difficulty "Basic",
  :tags ["comprehensions"],
  :title "comprehensions-3",
  :id 293}
 {:description
  "More complex transformations simply take multiple binding forms",
  :tests
  ["(= [[:top :left] [:top :middle] [:top :right] [:middle :left] [:middle :middle] [:middle :right] [:bottom :left] [:bottom :middle] [:bottom :right]] (for [row [:top :middle :bottom] column [:left :middle :right]] __))"],
  :difficulty "Basic",
  :tags ["comprehensions"],
  :title "comprehensions-4",
  :id 294}
 {:description
  "One may know what they seek by knowing what they do not seek",
  :tests
  ["(= [__] (let [not-a-symbol? (complement symbol?)]\n               (map not-a-symbol? [:a 'b \"c\"])))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-0",
  :id 295}
 {:description
  "Praise and 'complement' may help you separate the wheat from the chaff",
  :tests
  ["(= [:wheat \"wheat\" 'wheat]\n       (let [not-nil? __]\n         (filter not-nil? [nil :wheat nil \"wheat\" nil 'wheat nil])))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-1",
  :id 296}
 {:description "Partial functions allow procrastination",
  :tests
  ["(= 20 (let [multiply-by-5 (partial * 5)]\n            (__)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-2",
  :id 297}
 {:description "Don't forget: first things first",
  :tests
  ["(= [__]\n       (let [ab-adder (partial concat [:a :b])]\n         (ab-adder [__])))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-3",
  :id 298}
 {:description "Functions can join forces as one 'composed' function",
  :tests
  ["(= 25 (let [square (fn [x] (* x x))\n                inc-and-square (comp square inc)]\n            (inc-and-square __)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-4",
  :id 299}
 {:description "Have a go on a double dec-er",
  :tests
  ["(= __ (let [double-dec (comp dec dec)]\n             (double-dec 10)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-5",
  :id 300}
 {:description
  "Be careful about the order in which you mix your functions",
  :tests
  ["(= 99 (let [square-and-dec __]\n            (square-and-dec 10)))"],
  :difficulty "Basic",
  :tags ["functions"],
  :title "functions-6",
  :id 301}
 {:description "Destructuring is an arbiter: it breaks up arguments",
  :tests ["(= __ ((fn [[a b]] (str b a))\n            [:foo :bar]))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-0",
  :id 302}
 {:description "Whether in function definitions",
  :tests
  ["(= (str \"First comes love, \"\n            \"then comes marriage, \"\n            \"then comes Clojure with the baby carriage\")\n       ((fn [[a b c]] __)\n        [\"love\" \"marriage\" \"Clojure\"]))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-1",
  :id 303}
 {:description "Or in let expressions",
  :tests
  ["(= \"Rich Hickey aka The Clojurer aka Go Time aka Macro Killah\"\n       (let [[first-name last-name & aliases]\n             (list \"Rich\" \"Hickey\" \"The Clojurer\" \"Go Time\" \"Macro Killah\")]\n         __))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-2",
  :id 304}
 {:description "You can regain the full argument if you like arguing",
  :tests
  ["(= {:original-parts [\"Stephen\" \"Hawking\"] :named-parts {:first \"Stephen\" :last \"Hawking\"}}\n       (let [[first-name last-name :as full-name] [\"Stephen\" \"Hawking\"]]\n         __))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-3",
  :id 305}
 {:description "Break up maps by key",
  :tests
  ["(= \"123 Test Lane, Testerville, TX\"\n     (let [test-address {:street-address \"123 Test Lane\"\n                         :city \"Testerville\"\n                         :state \"TX\"}\n           {street-address :street-address, city :city, state :state} test-address]\n       __))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-4",
  :id 306}
 {:description "Or more succinctly",
  :tests
  ["(= \"123 Test Lane, Testerville, TX\"\n       (let [test-address {:street-address \"123 Test Lane\"\n                           :city \"Testerville\"\n                           :state \"TX\"}\n             {:keys [street-address __]} test-address]\n         __))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-5",
  :id 307}
 {:description "All together now!",
  :tests
  ["(= \"Test Testerson, 123 Test Lane, Testerville, TX\"\n       (let [test-address {:street-address \"123 Test Lane\"\n                           :city \"Testerville\"\n                           :state \"TX\"}]\n         (__ [\"Test\" \"Testerson\"] test-address)))"],
  :difficulty "Basic",
  :tags ["destructuring"],
  :title "destructuring-6",
  :id 308}
 {:description "Atoms are references to values",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= __ (deref atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-0",
  :id 309}
 {:description "You can get its value more succintly",
  :tests ["(let [atomic-clock (atom 0)]\n      (= __ @atomic-clock))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-1",
  :id 310}
 {:description "You can even change at the swap meet",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= __ (do\n               (swap! atomic-clock inc)\n               @atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-2",
  :id 311}
 {:description
  "Keep taxes out of this: swapping requires no transaction",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= 5 (do\n             __\n             @atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-3",
  :id 312}
 {:description "Any number of arguments might happen during a swap",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= __ (do\n               (swap! atomic-clock + 1 2 3 4 5)\n               @atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-4",
  :id 313}
 {:description "Atomic atoms are atomic",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= __ (do\n               (compare-and-set! atomic-clock 100 :fin)\n               @atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-5",
  :id 314}
 {:description
  "When your expectations are aligned with reality things, proceed that way",
  :tests
  ["(let [atomic-clock (atom 0)]\n      (= :fin (do\n                (compare-and-set! __)\n                @atomic-clock)))"],
  :difficulty "Basic",
  :tags ["atoms"],
  :title "atoms-6",
  :id 315}
 {:description "In the beginning, there was a word",
  :tests
  ["(let [the-world (ref \"hello\")]\n      (= __ (deref the-world)))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-0",
  :id 316}
 {:description
  "You can get the word more succinctly, but it's the same",
  :tests
  ["(let [the-world (ref \"hello\")]\n      (= __ @the-world))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-1",
  :id 317}
 {:description "You can be the change you wish to see in the world.",
  :tests
  ["(let [the-world (ref \"hello\")]\n      (= __ (do\n               (dosync (ref-set the-world \"better\"))\n               @the-world)))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-2",
  :id 318}
 {:description "Alter where you need not replace",
  :tests
  ["(= __ (let [the-world  (ref \"hello\")\n                 exclamator (fn [x] (str x \"!\"))]\n             (dosync\n              (alter the-world exclamator)\n              (alter the-world exclamator)\n              (alter the-world exclamator))\n             @the-world))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-3",
  :id 319}
 {:description "Don't forget to do your work in a transaction!",
  :tests
  ["(let [the-world (ref \"hello\")]\n      (= 0 (do __\n               @the-world)))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-4",
  :id 320}
 {:description
  "Functions passed to alter may depend on the data in the ref",
  :tests
  ["(let [the-world (ref \"hello\")]\n      (= 20 (do\n              (dosync (alter the-world ___)))))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-5",
  :id 321}
 {:description "Two worlds are better than one",
  :tests
  ["(let [the-world     (ref \"hello\")\n          bizarro-world (ref {})]\n      (= [\"Real Jerry\" \"Bizarro Jerry\"]\n         (do\n           (dosync\n            (ref-set the-world {})\n            (alter the-world assoc :jerry \"Real Jerry\")\n            (alter bizarro-world assoc :jerry \"Bizarro Jerry\")\n            __))))"],
  :difficulty "Basic",
  :tags ["refs"],
  :title "refs-6",
  :id 322}]